@model Hikaya.DAL.Story
@using Hikaya.DAL;
@using Hikaya.Resources;

@{
    ViewBag.Title = Model.Title;
}
<div>
    <h2 class="story-header">@Model.Title</h2>
    <div>
        <h4 class="story-tags">@Model.Tags</h4>
    </div>
    <hr />
    <div class="storyplot-wrapper">
        @foreach (StoryPlot storyPlot in Model.StoryPlots)
        {
            <div class="col-md-4">
                <img src="@storyPlot.ImageUrl" class="img-responsive" />
            </div>
            <div class="col-md-8">
                <p>@storyPlot.Text</p>

            </div>
        }


    </div>
</div>
<div>
    @Html.ActionLink(StoryResourcesArabic.SendMessage,
    "Send",
    "Message",
    new { id = Model.Id },
    new { @class = "btn btn-primary" })
</div>
<div>

    @Html.ActionLink("Back to List", "Index", "Home")
</div>
